{% extends "qa/base.html" %}

{% block title %}
Ask Question
{% endblock %}


{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="/ask/" method="post">
{% csrf_token %}
    <p>
        <label for="">Title:</label>
        <input type="text" name="title" id="title"/>
    </p>
    <p>
        <label for="">Content:</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </p>
    <p><button type="submit">Submit</button></p>

</form>

{% endblock %}


