{% extends "qa/base.html" %}

{% block title %}
Edit Answer
{% endblock %}


{% block content %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-md-12">
        <h2>Edit Answer</h2>
    {% if messages %}
        {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
        {% endfor %}
    {% endif %}
        <form role="form" method="POST" action="/answer/{{ answer.id }}/edit/" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-6">
                    {{ field|add_class:"form-control" }}
                </div>
            </div>
        {% endfor %}
            <div class="form-group">
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


