{% extends "qa/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <ul class="list-unstyled question-list">
        {% for question in questions %}
            <li>
                <h3><a href="./question/{{ question.id }}" title="Go to {{ question.title }}">{{ question.title|title }}</a></h3>
                <div>
                    {{ question.votes_count }} | {{ question.answers_count }} | {{ question.hits_count }}
                </div>
                <p>{{ question.content|truncatechars:50 }}</p>
                <div>
                    <a href="/profile/{{ question.author.id }}/">{{ question.author }}</a> asked {{ question.created_time|timesince }} ago
                </div>
            </li>
        {% endfor %}
        </ul>        
    </div>
    <div class="col-md-3">
        Nothing yet
    </div>
</div>
{% endblock content %}