{% extends "qa/base.html" %}
{% block title %} User Profile {% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ user.username }}'s Profile</h2>
    {% if is_login_user %}
        <div>
        <a href="./edit">Edit</a> |
        <a href="./avatar/">Edit Avatar</a> |
        <a href="./account">Edit Account</a>
        </div>
    {% endif %}

        <img src="{% static avatar_path %}" />

        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.member.gender }}</p>
        <p>{{ user.member.age }}</p>
        <p>{{ user.member.address }}</p>
        <p>{{ user.member.website }}</p>        
    </div>
    <div class="col-md-12">
        <h3>{{ user.username }} asked these questions</h3>
        <ul>
            {% for question in questions %}
                <li>
                    <a href="/question/{{ question.id }}/">{{ question.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-12">
        <h3>{{ user.username }} answered these questions</h3>
        <ul>
            {% for answer in answers %}
            <li>
                <a href="/question/{{ answer.question.id }}/#{{ answer.id }}">{{ answer.question.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}