{% extends "qa/base.html" %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <h2>{{ question.title }}</h2>
    <p>
        <span>{{ question.author }}</span> | 
        <span>{{ question.created_time }}</span> | 
        <span><a href="./edit/">Edit</a></span>
        <span>
        </span>
    </p>
    <p>{{ question.content }}</p>
    <p>
        <form action="/question/{{ question.id }}/delete/" method="POST">
        {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </p>
    <h3>Append</h3>
    <p>
        <ul>
            {% for append in question_appends %}
            <li>
                {{ append.content }} | {{ append.created_time }}
            </li>
            {% endfor %}
        </ul>        
    </p>
    <p>
        <form action="/question/{{ question.id }}/append/" method="POST">
        {% csrf_token %}
            <textarea name="question_append" id="" cols="30" rows="3"></textarea>
            <button type="submit">Append</button>
        </form>
    </p>
    <h3>Comments</h3>
    <p>
        <ul>
            {% for comment in question_comments %}
            <li>
                {{ comment.content }} | {{ comment.user }}
            </li>
            {% endfor %}
        </ul>
    </p>
    <p>
        <form action="/question/{{ question.id }}/comment/" method="POST">
        {% csrf_token %}
            <textarea name="question_comment" id="" cols="30" rows="3"></textarea>
            <button type="submit">Submit</button>
        </form>
    </p>
    <h3>Answer</h3>
    <ul>
    {% for answer in answers %}
        <li>
            <p>{{ answer.content }}</p>
            <p><span>{{ answer.author }}</span> | <span>{{ answer.created_time }}</span></p>
        </li>
    {% endfor %}

    </ul>
    <div>
        <form action="/answer/{{ question.id }}/" method="POST">
            {% csrf_token %}
            <p><textarea name="answer_content" id="" cols="30" rows="5"></textarea></p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}