{% extends "qa/base.html" %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <h2>
        {{ question.title }}
        {% if question.solved %}
        [solved]
        {% endif %}
    </h2>
    <p>
        <span>{{ question.author }}</span> | 
        <span>{{ question.created_time }}</span> | 
        <span><a href="./edit/">Edit</a></span>
    </p>
    <p>{{ question.content }}</p>
    <p>
        <form action="/question/{{ question.id }}/upvote/" method="POST">
            {% csrf_token %}
            <button type="submit">↑ {{ question.upvotes | length }}</button>
        </form>
        <form action="/question/{{ question.id }}/downvote/" method="POST">
            {% csrf_token %}
            <button type="submit">↓ {{ question.downvotes | length }}</button>
        </form>
        <form action="/question/{{ question.id }}/delete/" method="POST">
        {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </p>
    <p>
        {% for tag in question.tags %}
            <a href="">{{ tag.name }}</a>, 
        {% endfor %}
    </p>
    <h3>Append</h3>
    <p>
        <ul>
            {% for append in question.appends %}
            <li>
                {{ append.content }} | {{ append.created_time }}
            </li>
            {% endfor %}
        </ul>        
    </p>
    <p>
        <form action="/question/{{ question.id }}/append/" method="POST">
        {% csrf_token %}
            <textarea name="question_append" id="" cols="30" rows="3"></textarea>
            <button type="submit">Append</button>
        </form>
    </p>
    <h3>Comments</h3>
    <p>
        <ul>
            {% for comment in question.comments %}
            <li>
                {{ comment.content }} | {{ comment.user }}
            </li>
            {% endfor %}
        </ul>
    </p>
    <p>
        <form action="/question/{{ question.id }}/comment/" method="POST">
        {% csrf_token %}
            <textarea name="question_comment" id="" cols="30" rows="3"></textarea>
            <button type="submit">Submit</button>
        </form>
    </p>
    <h3>Answer</h3>
    <ul>
    {% for answer in answers %}
        <li>
            <p>{{ answer.content }}</p>
            <p>
                <span>{{ answer.author }}</span> | 
                <span>{{ answer.created_time }}</span>
                <span><a href="/answer/{{ answer.id }}/edit/">Edit</a></span>
            </p>
            <p>
                {% if answer.accepted %}
                    <span>Accepted</span>
                {% else %}
                    <form action="/answer/{{ answer.id }}/accept/" method="POST">
                    {% csrf_token %}
                        <button type="submit">Accept</button>
                    </form>
                {% endif %}
                <form action="/answer/{{ answer.id }}/upvote/" method="POST">
                    {% csrf_token %}
                    <button type="submit">↑ {{ answer.upvotes | length }}</button>
                </form>
                <form action="/answer/{{ answer.id }}/downvote/" method="POST">
                    {% csrf_token %}
                    <button type="submit">↓ {{ answer.downvotes | length }}</button>
                </form>

                <form action="/answer/{{ answer.id }}/delete/" method="POST">
                {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </p>
            <h4>Append</h4>
            <ul>
                {% for append in answer.appends %}
                <li>
                    {{ append.content }} | {{ append.created_time }}
                </li>
                {% endfor %}
            </ul>        
            <p>
                <form action="/answer/{{ answer.id }}/append/" method="POST">
                {% csrf_token %}
                    <textarea name="answer_append" id="" cols="30" rows="3"></textarea>
                    <button type="submit">Append</button>
                </form>
            </p>
            <h4>Comment</h4>
            <ul >
                {% for comment in answer.comments %}
                    <li>
                        {{ comment.content }} | {{ comment.user }}
                    </li>
                {% endfor %}
            </ul>
            <p>
                <form action="/answer/{{ answer.id }}/comment/" method="POST">
                {% csrf_token %}
                    <textarea name="answer_comment" id="" cols="30" rows="3"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </p>
        </li>
    {% endfor %}

    </ul>
    <div>
        <form action="/question/{{ question.id }}/answer/" method="POST">
            {% csrf_token %}
            <p><textarea name="answer_content" id="" cols="30" rows="5"></textarea></p>
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
{% endblock %}