{% extends "qa/base.html" %}

{% block title %}
{{ question.title }}
{% endblock %}

{% block content %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <h2>{{ question.title }}</h2>
    <p>
        <span>{{ question.author }}</span> | 
        <span>{{ question.created_time }}</span> | 
        <span><a href="./edit/">Edit</a></span> | 
        <span>Delete</span>
    </p>
    <p>{{ question.content }}</p>
    <h3>Answer</h3>
    <ul>
    {% for answer in answers %}
        <li>
            <p>{{ answer.content }}</p>
            <p><span>{{ answer.author }}</span> | <span>{{ answer.created_time }}</span></p>
        </li>
    {% endfor %}

    </ul>
    <div>
        <form action="/answer/{{ question.id }}/" method="POST">
            {% csrf_token %}
            <p><textarea name="answer_content" id="" cols="30" rows="10"></textarea></p>
            <p>
                <button>Submit</button>
            </p>
        </form>
    </div>
{% endblock %}