{% extends "qa/base.html" %}

{% block title %}Rest your password{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-md-8">
        <h2>Reset password</h2>
    {% if messages %}
        {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
        {% endfor %}
    {% endif %}
        <form role="form" method="POST" action="/reset/{{ code }}/" class="form-horizontal">
            {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-6">
                    {{ field|add_class:"form-control" }}
                </div>
            </div>
        {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}