{% extends "qa/base.html" %}

{% block title %}Rest your password{% endblock %}

{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST" action="/reset/{{ code }}/">
{% csrf_token %}
    <p>
        <label>New Password:</label>
        <input type="password" name="password" />
    </p>
    <p>
        <label>Re-enter Password:</label>
        <input type="password" name="repassword" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}