{% extends 'qa/base.html' %}

{% block title %}
Search
{% endblock %}

{% block content %}

<div>
    <form action="/search/" method="post">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Search.."/>
        <button>Search</button>
        </select>
    </form>
</div>
<hr/>

<div id="question_result">
    <ul>
        {% for question in result %}
            <li>
                <h3><a href="/question/{{ question.id }}" title="Go to {{ question.title }}">{{ question.title|title }}</a></h3>
                <div>
                    {{ question.votes_count }} | {{ question.answers_count }} | {{ question.hits_count }}
                </div>
                <p>{{ question.content|truncatechars:50 }}</p>
                <div>
                    <a href="/profile/{{ question.author.id }}/">{{ question.author }}</a> asked {{ question.created_time|timesince }} ago
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}