{% extends "qa/base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-md-6">
        <h2>Sign in</h2>
    {% if messages %}
        {% for message in messages %}
            <p class="text-danger">{{ message }}</p>
        {% endfor %}
    {% endif %}
        <form role="form" method="POST" action="{% url "signin" %}" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label_tag }}</label>
                <div class="col-sm-6">
                    {{ field|add_class:"form-control" }}
                </div>
            </div>
        {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
                <div class="col-sm-4">
                  <a href="{% url "reset" %}">find your password</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}