{% extends "qa/base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% if messages %}
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST" action="/signup/">{% csrf_token %}
    <p>
        <label>Username:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label>Email:</label>
        <input type="email" name="email" />
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" />
    </p>
    <p>
        <label>Repeat Password:</label>
        <input type="password" name="repassword" />
    </p>
    <p>
        <button type="submit">Sign Up</button>
    </p>
</form>
{% endblock %}