{% extends "qa/base.html" %}

{% block title %}Tags{% endblock %}

{% block content %}
<ul>
{% for tag in tags %}
    <li>
        <a href="/questions/tagged/{{ tag.name }}/">{{ tag.name }}</a>
    </li>
{% endfor %}
</ul>
<div>
    <span>
    {% if tags.has_previous %}
        <a href="?page={{ tags.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ tags.number }} of {{ tags.paginator.num_pages }}
    </span>

    {% if tags.has_next %}
        <a href="?page={{ tags.next_page_number }}">next</a>
    {% endif %}
    </span>
</div>
{% endblock content %}